.banner {
  background-image: url("../../../images/bannerbackground.png");
  height: 100vh; /* You must set a specified height */
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.title {
  height: 100vh;
}
